.DS_Store
.build/
build/
*.xcodeproj/xcuserdata/
DerivedData/
node_modules/
.next/
.vercel/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
mobile/.idea/
*.iml
.env
.env.local
.turso-token
